* {
    padding: 0;
    font-family: Verdana, Geneva, sans-serif
}

body {
    background-image: url(../img/background.jpeg);    
    background-size: cover;
    background-position: center center;
}

.title {
    text-align: center;
    color: #035d74;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 2em;
    
}



.grid.column {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    /*text-align: center; */
    /* width: 80%; */
    /* height: 80vw; */
    
}

.grid.row {
    display: flex;
    /* width:80vw; */
    flex-direction: row;
}

.grid.row button {
    border: 1px dotted #bbb;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    line-height: 1px;
    margin: -0.5px;
    width: 16px;
    height: 16px;
}

.grid.row button:disabled {
    color: #000;
}

.searchButton {
    display: flex;
    flex-direction: row;
}

.grid.row button:focus {
    outline: none;
}

.Road {
    background: #f3f3f3;
}

.Mountain {
    background: #dfdfdf;
}

.Water {
    background: #bde1ff;
}

.InPath {
    background: #daffde;
}

.settingWorld button {
    display: block;
    margin: auto;
}


.set-world-form {
    display: flex;
    flex-direction: row;
}

.set-world-form label {
    display: flex;
    margin: auto;
}

.footnote {
    font-size: 12px;
    margin-top: 30px;
}
