body {
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
/*   background-image: url("../img/Tokyo_coastline_large.png");
  background-position:center;
  background-size: cover; */
/*   width: 1920px;
  height:1080px; */
}

.counter {
  padding: 20px;
  display: inline-block;
}
